# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* ---> Operators
'hello' --->Values(String)
-87.8 ---> Values(Integer)
- ---> Operators
/ ---> Operators
+ ---> Operators
6 ---> Values(Integer)

# 2. What is the difference between string and variable?

String- 
These are data that we store in variable .
Stored in quotes
Eg -'hello'

Variable-
Use to store data, it is as empty box that we fill with some data or value. Eg- hello

# 3. Describe three different data types.

string datatype-
--->str
eg: x="Hello mona"

integer datatype-
--->int(without decimal)
eg: x=20
    
--->floating-point 
eg: x=2.3( decimal)

# 4. What is an expression made up of? What do all expressions do?

An expression is a combination of values and operators.
All expression evaluates to a single value

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression evaluates to single value where as  a statement does not.

# 6. After running the following code, what does the variable bacon contain?
bacon = 22


bacon + 1

In [1]:
bacon = 22
bacon + 1

23

In [2]:
# variable bacon will contain the same value as given , adding integer will not affect it. 
# +1 is only added to the previous variable , it does not reassign the value in bacon
# to reassign we need to do bacon=bacon+1

bacon

22

# 7. What should the values of the following two terms be?
'spam' + 'spamspam';
'spam'* 3

In [3]:
'spam' + 'spamspam';

# this will not give any output,it is only addition of two string(same datatype)

In [4]:
'spam'* 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

Variable name cannot start with integer value thats why it was showing 100 is invalid
on the other hand eggs is valid because variable names can start with alphabet,alpha-numeric characters and underscore.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int() -->integer
float() -->floating-point number
str() --> string

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten'  + 99 +  'burritos.'

In [6]:
'I have eaten'  + 99 +  'burritos.'

# Error is because we trying to concatenate str with int

TypeError: can only concatenate str (not "int") to str

In [8]:
# we can change the data type of 99 i.e int to str by putting into single quote/double quote.

'I have eaten'  + ' 99 ' +  'burritos.'

'I have eaten 99 burritos.'